body {
  background-color: antiquewhite;
  margin: 0;
}

 /* Mise en place d'un affichage mobile-first */
header  {
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  margin-left: 10px;
}

p {
  padding: 5px;
}

.branding {
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
  padding-left: 5px;
  margin-right: 10px;
}

header > nav > ul > li {
  padding-right: 5px;
}

header > nav > ul > li > a:hover {
  text-decoration: underline;
}

/* L'historique des évenements passés ne s'affiche pas sur les petits écrans */
/* Certains éléments de la navbar ne s'affichent pas non plus sur les petits écrans */
.nav-item, aside {
  display: none;
}

main {
  background: linear-gradient(45deg, transparent, lightgray);
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.image-article {
  width: 90vw;
  padding-left: 20px;
}

p {
  width: 90vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.register-form {
  width: 100vw;
}

footer {
  background-color: lightpink;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-item>ul>li>a:hover {
  font-style: italic;
  text-decoration: underline;
}

.sociaux { /* j'ai conscience que cette classe (.sociaux) cible les mêmes éléments que la pseudo classe précédente (.footer-item>ul>li>a:hover) */
  width: 32px;
  background-color: #fff;
  border-radius: 7px;
}

.copyleft {
  text-align: center;
  transform: rotate(180deg);
}

/* Début de mise en place du style pour les écrans plus grands*/

