/* RESET */
body {
  background-color: antiquewhite;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

 /* Mise en place d'un affichage mobile-first */
header  {
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  font-size: 1.5rem;
  margin-left: 1%;
  margin-right: 1%;
}

.branding {
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

nav > ul > li {
  padding-right: 10px;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

/* L'historique des évenements passés ne s'affiche pas sur les petits écrans */
/* Certains éléments de la navbar ne s'affichent pas non plus sur les petits écrans */
.nav-item, aside {
  display: none;
}

.wrapper {
  background: linear-gradient(90deg, antiquewhite, lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-article {
  width: 90vw;
  padding-left: 1%;
}

.about-item-2 {
  display: none;
}

p {
  padding: 1%;
  width: 90vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-bg-color, .about-bg-color {
  background: linear-gradient(90deg, antiquewhite, lightgray);
}

.about-content {
  display: flex;
  justify-content: center;
}

.register-form {
  width: 100vw;
}

.validate { /* Bouton stylisé à la main pour comparer avec le bouton stylisé en BOOTSTRAP */
  border-radius: 8px;
  background-color: green;
  color: white;
  height: 38px;
}

footer {
  background-color: lightpink;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-item > ul > li > a:hover {
  font-style: italic;
  text-decoration: underline;
}

.sociaux { /* j'ai conscience que cette classe (.sociaux) cible les mêmes éléments que la pseudo classe précédente (.footer-item>ul>li>a:hover) */
  width: 32px;
  background-color: #fff;
  border-radius: 7px;
}

.copyleft {
  text-align: center;
  transform: rotate(180deg);
}

/* Début de mise en place du style pour les écrans plus grands de type tablette */
@media screen and (min-width: 768px) and (min-height: 500px) {
  .nav-item, aside {
    display: initial;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
  }

  nav > ul > li {
    margin-bottom: 10px;
  }

  .wrapper {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  main {
    width: 60%;
  }

  .image-article {
    width: 90%;
  }

  p {
    width: 100%;
    overflow:inherit;
    text-overflow: initial;
    white-space: normal ;
  }

  aside {
    width: 38%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  aside > div {
    margin: 30px;
    font-size: 1.5rem;
  }

  @media screen and (orientation: landscape) {
    aside > div {
      font-weight: bold;
    }
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-bottom: 10px;
  }

  .register-form {
    width: 50vw;
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-item-2 {
    display: none;
  }
}
/* Début de mise en place du style pour les écrans de type PC */
